// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: #fafafa !important;
}

.account-summary {
  text-align: left;
  margin-bottom: 20px;
}

.account-summary-subtitle {
  color: #999;
}

.follower-suggestions {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.img-circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile {
  width: 25vw;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-username {
  color: #999
}

.profile-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.profile-posts {
  margin-top: 50px;
}